{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}


<div class="intro-body" style="margin-top:10%; font-size:1rem">
    <div class="container">
        <div class="row" style="color:black;">
            <div class="col-md-12 mx-auto">
            <div class="panel panel-default panel-body" >


                <form  method="post">
                    
                    <div class="form-control">
                        <label for="poltrona">Poltrona: </label>
                        {% render_field form.visible_fields.0 class="form-control" min="0" max="42" style="width: 10%;display: unset;"%}
                        <!--<input type="number" name="poltrona" min="0" max="42" />-->
                    </div>
                    <br />
                    

                    <div class="form-control">
                        <label for="origem"> Origem: </label>
                        <input type="text" name="origem" />
                        <label for="destino"> Destino: </label>
                        <input type="text" name="destino" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-default" style="float:right">
                        confirmar
                    </button>
                    <br />
                    <br />
                </form>
                
            </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}