{% extends 'base.html' %}

{% load widget_tweaks %}
{% load tz %}

{% block content %}


<div class="intro-body" style="margin-top:10%; font-size:1rem">
    <div class="container">
        <div class="row" style="color:black;">
            <div class="col-md-12 mx-auto">
                <div class="panel panel-default panel-body" >
                    <form class="panel panel-group" id="form" method="post">
                        {% csrf_token %}

                        

                        <div class="panel panel-default panel-body">
                            <label for="poltrona">Poltrona: </label>
                            <input name="poltrona" style="width:auto; display: inline;" min="0" max="42" required="" class="form-control" id="id_poltrona" type="number">
                        </div>

                        <div class="panel panel-default panel-body">
                            <label for="origem"> Origem: </label>
                            <select class="form-control" style="width:auto; display:inline" name="origem">
                                {% for cidade in cidades %}
                                    <option {%if object %}{%if object.origem == cidade %} selected="selected" {% endif %} {% endif %} value="{{cidade.pk}}">{{cidade}}</option>
                                {% empty %}
                                    <option>algo deu errado</option>
                                {% endfor %}
                            </select>
                        
                            <label for="destino"> Destino: </label>
                            <select class="form-control" style="width:auto; display:inline" name="destino">
                                {% for cidade in cidades %}
                                    <option {%if object %}{%if object.destino == cidade %} selected="selected" {% endif %} {% endif %} value="{{cidade.pk}}">{{cidade}}</option>
                                {% empty %}
                                    <option>algo deu errado</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="panel panel-default panel-body" >
                            <label for="data"> Data: </label>
                            <input {%if object %} value="{% if object.data.day < 10 %}0{%endif%}{{object.data.day}}/{% if object.data.month < 10 %}0{%endif%}{{object.data.month}}/{{object.data.year}}" {% endif %} name="data" form="form" class="form-control" style="width:unset; display:unset" type="text" placeholder="{% if tempo.day < 10 %}0{%endif%}{{tempo.day}}/{% if tempo.month < 10 %}0{%endif%}{{tempo.month}}/{{tempo.year}}"/>
                            <label for="hora"> Hora: </label>
                            <input {% if object %} value="{% if object.data.hour < 10 %}0{%endif%}{{object.data.hour}}:{% if object.data.minute < 10 %}0{%endif%}{{object.data.minute}}" {% endif %} name="hora" form="form" class="form-control" style="width:unset; display:unset" type="text" placeholder="{% if tempo.hour < 10 %}0{%endif%}{{tempo.hour}}:{% if tempo.minute < 10 %}0{%endif%}{{tempo.minute}}" />
                        </div>

                        <div class="panel panel-default panel-body">
                            <label for="empresa"> Empresa:</label>
                            <select class="form-control" style="width:unset; display:unset" name="empresa">
                                {% for empresa in empresas %}
                                    <option {%if object %}{%if object.empresa == empresa %} selected="selected" {% endif %} {% endif %} value="{{empresa.pk}}">{{empresa}}</option>
                                {% empty %}
                                    <option>algo deu errado</option>
                                {% endfor %}
                            </select>
                        </div>

                        <br />

                            <button type="submit" class="btn btn-default" style="float:right">
                                confirmar
                            </button>
                        <br />
                        <br />

                        
                    </form>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}