{% extends 'base.html' %}

{% block content %}


<div class="intro-body" style="margin-top:10%; font-size:1rem">
    <div class="container">
        <div class="row" style="color:black">
            <div class="panel panel-default panel-body">
                <form action="" method="post">{% csrf_token %}
                    <input name="usera" value="{{object.pk}}" type="hidden" />
                    <p>Tem certeza que deseja desfazer a amizade com {{object.first_name}}?</p>
                    <a class="btn btn-primary" href="{% url 'rede:home'%}">Cancelar</a>
                    <button class=" btn btn-default" type="submit"> Confirmar </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}